  <section>
      <div class="container">
        <h2>Product  was Built Specifically You</h2>
        <ul>
          <li class="product-item">
            <h3 class="product-item-title">First click tests</h3>
            <p>While most people enjoy casino gambling,</p>
          </li>
          <li class="product-item">
             <h3 class="product-item-title">First click tests</h3>
            <p>While most people enjoy casino gambling,</p>
          </li>
          <li class="product-item">
             <h3 class="product-item-title">First click tests</h3>
            <p>While most people enjoy casino gambling,</p>
          </li>
          <li class="product-item">
             <h3 class="product-item-title">First click tests</h3>
            <p>While most people enjoy casino gambling,</p>
          </li>
        </ul>
        <button></button>
      </div>
    </section>